.login-form {
    min-height: 300px;
}

.login-footer {
    position: absolute;
    bottom: 30px;
    text-align: center;
}

.card-img-top {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin: 30px auto 0;
    display: block;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.profiler li {
    min-width: 60px;
    text-align: center;
}